.btn-small {
  transition: all 0.6s;
  font-size: 14px;
  font-weight: 600;
}

list category
.single {
  padding: 30px 15px;
  margin-top: 40px;
  background: #b34d4d;
  border: 1px solid #f0f0f0; }
  .single h3.side-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
  color: #333;
  text-transform: uppercase; }
  .single h3.side-title:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #ff173c;
  display: block;
  margin-top: 6px; }
  
  .single ul {
  margin-bottom: 0; }
  .single li a {
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
  line-height: 40px;
  display: block;
  text-decoration: none; }
  .single li a:hover {
  color: #ff173c; }
  .single li:last-child a {
  border-bottom: 0; }
  .single li a span{
    text-align: right;
}

.sidebar.widget {
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px 20px;
  }
  .sidebar.widget ul {
      margin: 0px;
      padding: 0;
      overflow: hidden;
  }
  .sidebar.widget ul li {
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 20px;
      border-bottom: 1px dashed #ddd;
      padding-bottom: 20px
  }
  .sidebar-thumb{
      float: left;
      overflow: hidden;
      margin-right: 15px;
  }
  .sidebar-thumb img{
    background: #fff;
    border: 1px dashed #e0e0e0;
    padding: 6px;
    height: 75px;
    width: 75px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .sidebar-content h5{ 
      font-size: 16px;
      cursor: pointer;
      line-height: 24px;
  }
  .sidebar-content h5 a:hover{ 
    color: #2996bd;
  }
  
  .sidebar-content h5 a{ 
      color: #202020;
      outline: 0 none;
      text-decoration: none;
      font-weight: bold
  }
  .sidebar-meta{
    margin-top: 10px;
  }
  .sidebar-meta span{
    color: #2e2e2e;
  }
  .sidebar-meta span.time{
    margin-right: 10px;
  }
  .sidebar-meta span i{
    color: #2996bd
  }


  .advance-btn {
    color: rgb(5, 52, 58);
    position: relative;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 195, 114, 1);
    margin-right: 1.5rem;
    line-height: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: -webkit-max-content;
    width: max-content;
    transition: all .4s ease;
    font-size: 14px;
    font-weight: 600;
  
  
  }
  
  .advance-btn:after {
    content: "";
    overflow: hidden;
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(180deg, rgba(229, 172, 142, 0), hsla(0, 0%, 100%, .5) 50%, rgba(229, 172, 142, 0));
    background-image: linear-gradient(rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    transform: rotate(60deg) translate(-5em, 7.5em);
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: moveAfter;
    animation-iteration-count: infinite;
    animation-direction: forward;
  }
  
  @keyframes moveAfter {
    to {
      transform: rotate(60deg) translate(1em, -9em)
    }
  }

  .comments-area {
    background: #f1f9ff;
    padding: 50px 30px;
    margin-top: 50px;
  }
  
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px;
    }
  }
  
  .comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
    color: #002347;
    font-size: 18px;
  }
  
  .comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .comments-area a {
    color: #002347;
  }
  
  .comments-area .comment-list {
    padding-bottom: 30px;
  }
  
  .comments-area .comment-list:last-child {
    padding-bottom: 0px;
  }
  
  .comments-area .comment-list.left-padding {
    padding-left: 25px;
  }
  
  @media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
      font-size: 12px;
    }
    .comments-area .comment-list .single-comment .date {
      font-size: 11px;
    }
    .comments-area .comment-list .single-comment .comment {
      font-size: 10px;
    }
  }
  
  .comments-area .thumb {
    margin-right: 20px;
  }
  
  .comments-area .date {
    font-size: 13px;
    color: #777777;
    margin-bottom: 13px;
  }
  
  .comments-area .comment {
    color: #777777;
    margin-bottom: 0px;
  }
  
  .comments-area .btn-reply {
    margin-right: 5px;
    background-color: #fff;
    color: #002347;
    border: 1px solid #eee;
    padding: 2px 18px;
    font-size: 12px;
    /* display: block; */
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .comments-area .btn-reply:hover {
    background: #fdc632;
    color: #002347;
  }

  .comments-area .btn-reply2 {
    background-color: #fff;
    color: #002347;
    border: 1px solid #eee;
    padding: 2px 18px;
    font-size: 12px;
    /* display: block; */
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .comments-area .btn-reply2:hover {
    background: #e84545;
    color: #f2f2f2;
  }
  
  .comment-form {
    background: #f1f9ff;
    text-align: center;
    padding: 47px 30px 43px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  .comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #002347;
    
  }

  .btn-comment{
    display: inline-flex;
  }
  
  .comment-form .name {
    padding-left: 0px;
  }
  
  @media (max-width: 767px) {
    .comment-form .name {
      padding-right: 0px;
      margin-bottom: 1rem;
    }
  }
  
  .comment-form .email {
    padding-right: 0px;
  }
  
  @media (max-width: 991px) {
    .comment-form .email {
      padding-left: 0px;
    }
  }
  
  .comment-form .form-control {
    padding: 8px 20px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    color: #777777;
    border: 1px solid transparent;
  }
  
  .comment-form .form-control:focus {
    box-shadow: none;
    border: 1px solid #eee;
  }
  
  .comment-form textarea.form-control {
    height: 140px;
    resize: none;
  }
  
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 15px;
    color: #777;
  }
  
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 15px;
    color: #777;
  }
  
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 15px;
    color: #777;
  }
  
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 15px;
    color: #777;
  }


.form-search{
    font: bold 13px sans-serif;
    max-width: 100%;
}

.form-search input{
    width: 70%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;;
    border-right: 0;
    color:#4E565C;
    outline: none;
    -webkit-appearance: none;
}

.form-search button{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color:  #6caee0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}

/* tags */


.tags {
  zoom: 1;
}

.tags:before, .tags:after {
  content: '';
  display: table;
}

.tags:after {
  clear: both;
}

.tags li {
  position: relative;
  float: left;
  margin: 0 0 8px 12px;
}

.tags li:active {
  margin-top: 1px;
  margin-bottom: 7px;
}

.tags li:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 10px;
  right: -2px;
  width: 5px;
  height: 6px;
  opacity: .95;
  background: #eb6b22;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 1px 0 #99400e;
  box-shadow: inset 1px 0 #99400e;
}

.tags a, .tags span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tags a {
  height: 26px;
  line-height: 23px;
  padding: 0 9px 0 8px;
  font-size: 12px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #fafafa;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dadada #d2d2d2 #c5c5c5;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
  padding: 0 7px 0 6px;
  max-width: 40px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tags span {
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 0;
  height: 24px;
  line-height: 21px;
  padding: 0 0 0 2px;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #eb6b22;
  border: 1px solid;
  border-color: #d15813 #c85412 #bf5011;
  border-radius: 0 2px 2px 0;
  opacity: .95;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: padding, max-width;
  -moz-transition-property: padding, max-width;
  -o-transition-property: padding, max-width;
  transition-property: padding, max-width;
}

.social a {
  padding: 0 .5em;
}

.social-title {
  font-size: 1.5rem;
}

#share-wa:hover{
  color: #09c65e;
}

#share-tw:hover{
  color: #00acee;
}

#share-li:hover{
  color: #0e76a8;
}

#share-gp:hover{
  color: #EA4335;
}